<!-- <header class="container-fluid">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="bg-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="bg-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="bg-3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>  -->
  
<!----------------Carousel-------------->
<header class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section class="slide-show">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">

          <div class="carousel-controls">

            <div class="carousel-indicators d-none d-lg-block d-md-block">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"
                style="background-image:url('bg-1.jpg')"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2" style="background-image:url('bg-2.jpg')"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3" style="background-image:url('bg-3.jpg')"></button>
            </div>

            <button class="carousel-control-prev d-none d-lg-block d-md-block" type="button"
              data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next d-none d-lg-block d-md-block" type="button"
              data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>

          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(bg-1.jpg);">
              <div class="container">
                <h3 class="fw-bold" key="title-slide1" >Medicia Medical Service and Woocommerce Template</h3>
                <p key="slide1">
                  Medicia as always focused on the best treatments with affordable price through the best medical services.
                </p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url(bg-2.jpg);">
              <div class="container">
                <h1 class="fw-bold" key="title-slide2">Laboratories at the highest level</h1>
                <p key="slide2">
                  Interest to World Health Organization standars to ensure
                  water quality using the latest standars and technologies
                </p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url(bg-3.jpg);">
              <div class="container">
                <h1 class="fw-bold" key="title-slide3">Customer Service Center</h1>
                <p key="slide3">Customer service centers, communication methods, and the address of the nearest branch
                  <a href="#">
                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</header>
  